@tailwind base;
@tailwind components;
@tailwind utilities;

.fcc {
	@apply flex items-center justify-center;
}
.mobile-fit-height {
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
}

body {
	background-color: black;
}

@media print {
	body {
		background-color: white;
	}
}
